<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>UstaDavron<span>.</span>uz</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/" class="{% if request.path == '/' %}active{% endif %}">Home</a></li>
          <li><a href="/about" class="{% if request.path == '/about/' %}active{% endif %}">About</a></li>
          <li><a href="/#works">Miniature work</a></li>
          <li><a href="/contact" class="{% if request.path == '/contact/' %}active{% endif %}">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->