{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- ======= Header ======= -->
   
    <main id="main">
  
      <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static 'img/about_header.jpg' %}');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
  
          <h2>About</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>About</li>
          </ol>
  
        </div>
      </div><!-- End Breadcrumbs -->
  
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="row position-relative">
  
            <div class="col-lg-7 about-img" style="background-image: url({% static 'img/about.JPG' %});"></div>
  
            <div class="col-lg-7">
              <div class="our-story">
                <h3>Toshev Davron</h3>
                <p>1970 - born in the Bukhara oblast, Uzbekistan</p>
                <p>1985-1989 - studied at the Fifth Polytechnic</p>
                <p>1992-1994 - studied under the masters of the Sanoi Nafis artists' cooperative</p>
                <p>1994-1997 - Head Artist at the small enterprise "Memor" in the town of Kagan (Bukhara oblast, Uzbekistan)</p>
                <p>1997-2010 - eacher at the boarding school specialising in art, Bukhara, Uzbekistan</p>
                <p>From 2000 - member of the Khunarmand Association</p>
                <p>2001, 2003 - participated in the festival of artisans from Central Asian countries, Almata, Khazakstan</p>
                <p>2005 - Participated in the Miniatures of Uzbekistan exhibitions, Paris, France</p>
                <p>From 2006 - member of the Creative Union of artists.</p>
                <p>2006 - participated in the "Marche` d'art de Noel" exhibitions, Thionville, France</p>
                <p>2006 - personal exhibitions, Brussels, Belgium</p>
                <p>2007 - personal exhibitions, Lyon, France</p>
                <p>2008 - personal exhibitions, Grenoble, France</p>
                <p>2009 - personal exhibitions, Lille, France</p>
                <p>2011 - participated in the "Aquarelles" exhibition, Arpajon, France</p>
                <p>2011 - awarded with a badge on the occasion of Uzbekistan's 20th anniversary</p>
                <p>2012 - personal exhibition in the Kamoliddin Behzod Memorial</p>
                <p>2013 - participated in "Week of culture" in Avaza national touristic zone. Avaza (Turkmenistan)</p>
                <p>2013 - participated in the "Week of Fine Art"</p>
                <p>2015 - participated in the "Mother in colours"</p>
                <p>2015 - participated in the Festival dell'arte</p>
                <p>2015 - participated in ARTS & CULTURE D'O UZBEKISTAN, Paris, France</p>
                <p>2017 - Personal exhibitions, House of photos (Tashkent)</p>
                <p>2017-2018 - Master of producing at Artist's college of the Republic of Uzbekistan</p>
                <p>2018 - Founder and director of limited liablity company "Buxoro Ipak Qog'oz"</p>
                <p>2019 - Winner of review-competition for the presidential award "Tashabbus 2019" in the direction of "The best craftsman of the year"</p>
                <p>2019 - participated in the exhibition based on the programme "One place, One way", Huangzhou, China</p>
                <p>2019 - Personal exhibition, Grenoble, France</p>
                <p>2020 - personal exhibition in the Kamoliddin Behzod Memorial Park - Museum, Tashkent</p>
                <p>2020 - awarded with the gold medal of the Academy of Art of the Republic of Uzbekistan</p>
                <p>2021 - personal exhibition. Baselstrasse. Switzerland.</p>
                <p>2021 - Winner in the nomination "The best teacher - student school of the year" TOP Art 2021</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>
      <!-- End About Section -->
  
  
  
  
    </main><!-- End #main -->
{% endblock content %}